body {
    background-color: #3f3f3f;
}

.options-container {
    margin: 10px;
    float: left;
    width: 240px;
}

    .options-container button {
        display: block;
        width: 223px;
        margin: 10px;
        margin-bottom: 0px;
    }

.state-container {
    position: relative;
    margin: auto;
    height: 95px;
    width: 509px;
    background: #303030;
    margin-bottom: 5px;
    border-radius: 6px;
}

.black-points {
    position: absolute;
    border-radius: 8px;
    left: 15px;
    top: 18px;
    width: 100px;
    height: 60px;
    background-color: black;
    float: left;
    color: lightgray;
    text-align: center;
}

.white-points {
    position: absolute;
    border-radius: 8px;
    right: 15px;
    top: 18px;
    width: 100px;
    height: 60px;
    background-color: whitesmoke;
    float: left;
    text-align: center;
}

.black-points p {
    margin-top: 17px;
    margin-left: auto;
}

.white-points p {
    margin-top: 17px;
    margin-right: auto;
}

.turn-state {
    position: absolute;
    left: 208px;
    top: 25px;
}

    .turn-state p {
        color: whitesmoke;
    }


.box-container {
    position: relative;
    width: 510px;
    height: 510px;
    background-color: #3f3f3f;
    margin: auto;
}

.box {
    float: left;
    height: 50px;
    width: 50px;
    background: #009067;
    margin-bottom: 1px;
    margin-right: 1px;
    text-align: center;
}

.coin {
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color:#009067;
    border: none;
}

.fila#cero .box#cero {
    border-top-left-radius: 6px;
}

.fila#cero .box#nueve {
    border-top-right-radius: 6px;
}

.fila#nueve .box#cero {
    border-bottom-left-radius: 6px;
}

.fila#nueve .box#nueve {
    border-bottom-right-radius: 6px;
}

.fila#cero .box {
    background-color: #ca8c4f;
}

.fila#nueve .box {
    background-color: #ca8c4f;
}

.box#cero {
    background-color: #ca8c4f;
}

.box#nueve {
    background-color: #ca8c4f;
}


.box .marcador {
    color: #a33c25;
    font-size: 15px;
}

.option-cotainer {
    float: left;
}

.option {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
}

.game_container {
    float: left;
    margin-left: 160px;
}

.players_info {
    float: right;
    margin: 10px;
    background-color: #303030;
    width: 250px;
    height: 220px;
    border-radius: 8px;
    padding-top: 20px;
    box-sizing: border-box;
}


.player_info {
    background-color: whitesmoke;
    width: 210px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 6px;
}

.black_Name {
    text-align: center;
    padding-top: 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: black;
    height: 40px;
    color: whitesmoke;
}

.white_Name {
    text-align: center;
    padding-top: 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: white;
    height: 40px;
    color: black;
}

.player_movs {
    box-sizing: border-box;
    padding-top: 8px;
    text-align: center;
    height: 40px;
}

.box .marcador {
    margin-top: 12px;
}

.blanca_inicial {
    background-color: whitesmoke;
}

.negra_inicial {
    background-color: black;
}

.info_option {
    background-color: #ee4d4b;
    color: whitesmoke;
    width: 210px;
    height: 40px;
    border: none;
    border-radius: 6px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.info_option#nombre {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.host_black  {
    background-color: black;
    color: whitesmoke;
}

.host_white {
    background-color: whitesmoke;
    color: black;
}

.nombre_input {
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
    margin-left: 20px;
    width: 210px;
    height: 40px;
    background-color: whitesmoke;
}

.players_info#vsJugador {
    height: 80px;
}

.salir {
    background-color: #d9534f;
    color: white;
}

.info_option#host_black {
    background-color: black;
    color: whitesmoke;
}

.info_option#host_white {
    background-color: whitesmoke;
    color: black;
}

.posible_inicial {
    background-color: #307864;
}