<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Xtreme </title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/MenuXtremeEstilo.css">
</head>

<body>
    <div class="guardar">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btnCargar" data-toggle="modal" data-target="#exampleModal">
            Cargar Partida
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cargar partida</h5>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                       aria-describedby="inputGroupFileAddon01" onchange="processSelectedFiles(this)">
                                <label class="custom-file-label" for="inputGroupFile01" id="choosedFile"
                                       accept=".xml">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="cargarPartida()" data-dismiss="modal">Continuar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin de boostrap -->
    </div>

    <div class="option-container">
        <img src="~/Content/Imgs/reversi.png" alt="" width="454" class="cabezera">

        <label for="">Ancho de tablero:</label>
        <select id="anchoTablero">
            <option value="">6</option>
            <option value="">8</option>
            <option value="">10</option>
            <option value="">12</option>
            <option value="">14</option>
            <option value="">16</option>
            <option value="">18</option>
            <option value="">20</option>
        </select>

        <label>Alto de tablero:</label>
        <select id="altoTablero">
            <option value="">6</option>
            <option value="">8</option>
            <option value="">10</option>
            <option value="">12</option>
            <option value="">14</option>
            <option value="">16</option>
            <option value="">18</option>
            <option value="">20</option>
        </select>

        <label>Modo:</label>
        <select id="modalidad">
            <option value="">Normal</option>
            <option value="">Inverso</option>
        </select>

        <label>Colores Jugador 1:</label>
        <select class="color" id="color1_p1">
            <option>Ninguno</option>
            <option>Negro</option>
            <option>Blanco</option>
            <option>Rojo</option>
            <option>Amarillo</option>
            <option>Azul</option>
            <option>Anaranjado</option>
            <option>Verde</option>
            <option>Violeta</option>
            <option>Celeste</option>
            <option>Gris</option>
        </select>
        <select class="color" id="color2_p1">
            <option>Ninguno</option>
            <option>Negro</option>
            <option>Blanco</option>
            <option>Rojo</option>
            <option>Amarillo</option>
            <option>Azul</option>
            <option>Anaranjado</option>
            <option>Verde</option>
            <option>Violeta</option>
            <option>Celeste</option>
            <option>Gris</option>
        </select>
        <select class="color" id="color3_p1">
            <option>Ninguno</option>
            <option>Negro</option>
            <option>Blanco</option>
            <option>Rojo</option>
            <option>Amarillo</option>
            <option>Azul</option>
            <option>Anaranjado</option>
            <option>Verde</option>
            <option>Violeta</option>
            <option>Celeste</option>
            <option>Gris</option>
        </select>
        <select class="color" id="color4_p1">
            <option>Ninguno</option>
            <option>Negro</option>
            <option>Blanco</option>
            <option>Rojo</option>
            <option>Amarillo</option>
            <option>Azul</option>
            <option>Anaranjado</option>
            <option>Verde</option>
            <option>Violeta</option>
            <option>Celeste</option>
            <option>Gris</option>
        </select>
        <select class="color" id="color5_p1">
            <option>Ninguno</option>
            <option>Negro</option>
            <option>Blanco</option>
            <option>Rojo</option>
            <option>Amarillo</option>
            <option>Azul</option>
            <option>Anaranjado</option>
            <option>Verde</option>
            <option>Violeta</option>
            <option>Celeste</option>
            <option>Gris</option>
        </select>


        <label for="">Colores Jugador 2:</label>
        <select class="color" id="color1_p2">
            <option>Ninguno</option>
            <option>Negro</option>
            <option>Blanco</option>
            <option>Rojo</option>
            <option>Amarillo</option>
            <option>Azul</option>
            <option>Anaranjado</option>
            <option>Verde</option>
            <option>Violeta</option>
            <option>Celeste</option>
            <option>Gris</option>
        </select>
        <select class="color" id="color2_p2">
            <option>Ninguno</option>
            <option>Negro</option>
            <option>Blanco</option>
            <option>Rojo</option>
            <option>Amarillo</option>
            <option>Azul</option>
            <option>Anaranjado</option>
            <option>Verde</option>
            <option>Violeta</option>
            <option>Celeste</option>
            <option>Gris</option>
        </select>
        <select class="color" id="color3_p2">
            <option>Ninguno</option>
            <option>Negro</option>
            <option>Blanco</option>
            <option>Rojo</option>
            <option>Amarillo</option>
            <option>azul</option>
            <option>Anaranjado</option>
            <option>Verde</option>
            <option>Violeta</option>
            <option>Celeste</option>
            <option>Gris</option>
        </select>
        <select class="color" id="color4_p2">
            <option>Ninguno</option>
            <option>Negro</option>
            <option>Blanco</option>
            <option>Rojo</option>
            <option>Amarillo</option>
            <option>Azul</option>
            <option>Anaranjado</option>
            <option>Verde</option>
            <option>Violeta</option>
            <option>Celeste</option>
            <option>Gris</option>
        </select>
        <select class="color" id="color5_p2">
            <option>Ninguno</option>
            <option>Negro</option>
            <option>Blanco</option>
            <option>Rojo</option>
            <option>Amarillo</option>
            <option>Azul</option>
            <option>Anaranjado</option>
            <option>Verde</option>
            <option>Violeta</option>
            <option>Celeste</option>
            <option>Gris</option>
        </select>

        <div>
            <button class="option" id="regresar" onclick="regresar()">Regresar</button>
            <button class="option" onclick="ajustarConfsXtreme()">Continuar</button>
        </div>
    </div>
    <script src="~/Content/JsFiles/MenuXtreme.js"></script>
</body>

</html>
