@{
    ViewBag.Title = "MenuPrincipal";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Principal </title>
    <link rel="stylesheet" href="~/Content/css/MenuPrincipalEstitlo.css">
</head>

<body>
    <div class="option-container">
        <img src="~/Content/Imgs/reversi.png" alt="" width="460" class="cabezera">
        <button class="option" onclick="vsPc()">Partida contra la PC</button>
        <button class="option" onclick="vsJugador()">Partida con otro jugador</button>
        <button class="option" onclick="vsPcXtreme()">Partida Xtreme contra la PC</button>
        <button class="option" onclick="vsJugadorXtreme()">Partida Xtreme contra otro jugador</button>
        <button class="option">Campeonato</button>
        <button class="option">Perfil</button>
        <button class="option" onclick="cerrarSesion()">Cerrar sesion</button>
    </div>
</body>
</html>
<script src="~/Content/JsFiles/MenuPrincipal.js?v=<%=DateTime.Now%>"></script>