<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Perfil </title>
    <link rel="stylesheet" href="~/Content/css/PerfilEstilo.css">
</head>

<body>
    <div class="info-container">
        <label>Mi informacion registrada</label>
        <table id="info">
            <tr>
                <th>User Id</th>
                <td>Tipo de Partida</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>Tipo de Partida</td>
            </tr>
            <tr>
                <th>Nombre de usuario</th>
                <td>Tipo de Partida</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>Tipo de Partida</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>Tipo de Partida</td>
            </tr>
            <tr>
                <th>Fecha de nacimiento</th>
                <td>Tipo de Partida</td>
            </tr>
            <tr>
                <th>Pais</th>
                <td>Tipo de Partida</td>
            </tr>
        </table>

        <label>Partidas Ganadas</label>
        <table>
            <tr>
                <th>Id</th>
                <th>Tipo de Partida</th>
                <th>Mis putnos</th>
                <th>Puntos del adversario</th>
                <th>Mi tiempo empleado</th>
                <th>Tiempo del adversario</th>
            </tr>
            <tr>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>

            </tr>
        </table>

        <label>Partidas Empatadas</label>
        <table>
            <tr>
                <th>Id</th>
                <th>Tipo de Partida</th>
                <th>Mis putnos</th>
                <th>Puntos del adversario</th>
                <th>Mi tiempo empleado</th>
                <th>Tiempo del adversario</th>
            </tr>
            <tr>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
            </tr>

        </table>

        <label>Partidas Perdidas</label>
        <table>
            <tr>
                <th>Id</th>
                <th>Tipo de Partida</th>
                <th>Mis putnos</th>
                <th>Puntos del adversario</th>
                <th>Mi tiempo empleado</th>
                <th>Tiempo del adversario</th>
            </tr>
            <tr>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
            </tr>
        </table>

        <label>Torneos</label>
        <table>
            <tr>
                <th> &nbsp &nbsp &nbsp &nbsp Cantidad de torneos jugados &nbsp &nbsp &nbsp &nbsp </th>
                <th> Cantidad de torneos ganados </th>
                <th> &nbsp Catnidad de putnos ganados en torneos &nbsp &nbsp</th>
            </tr>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </table>

        <button id="regresar" onclick="regresar()">Regresar</button>
    </div>

    <script>
        function regresar() {
            location.assign("/MenuPrincipal/MenuPrincipal")
        }
    </script>

</body>
</html>